{% extends 'main.html' %}

{% load static %}
{% block content %}
<main class="profile-page layout layout--2">
  <div class="container">
    <!-- Room Start -->
    <div style="text-align: center;">
      {% for card in player_cards %}
        <img src="{% static 'images/cardDeck/' %}{{ card }}.png" alt="card" style="width: 70px; height: auto;">
      {% endfor %}

      <!-- Bet Button -->
      <form method="post" action="{% url 'flop' pk=room.id %}" style="margin-top:20px;">
        {% csrf_token %}
        <label for="bet_amount">Bet Amount: </label>
        <input type="number" id="bet_amount" name="bet_amount" min="1" step="1" required>
        <button type="submit">Place Bet</button>
      </form>

      <form method="post" action="{% url 'room' pk=room.id %}" style="margin-top:10px;">
        {% csrf_token %}
        <button type="submit">Fold</button>
      
      </form>
      <h1>Chip Count: {{ request.user.username }}</h1>
    </div>
    <!-- Room End -->

    <!--   Start -->
    <div class="participants">
      <h3 class="participants__top">Participants <span>({{participants.count}} Joined)</span></h3>
      <div class="participants__list scroll">
        {% for user in participants %}
        <a href="{%  url 'user-profile' user.id %}" class="participant">
          <div class="avatar avatar--medium">
            <img src="{{user.avatar.url}}" />
          </div>
          <p>
            {{user.name}}
            <span>@{{user.username}}</span>
          </p>
        </a>
        {% endfor %}
      </div>
    </div>
    <!--  End -->
  </div>
</main>

{% endblock content %}